<h1><%= @trainer.name %></h1>

<!-- Display other details of the trainer here -->
<!-- Example: if the trainer has an image -->
<% if @trainer.image.attached? %>
  <%= image_tag @trainer.image %>
<% end %>

<%= link_to 'Back to List', trainers_path, class: 'btn btn-secondary' %>
